<div class="max-w-md mx-auto mt-20 bg-white p-6 rounded-lg shadow-lg font-bicubik text-zeus" [formGroup]="loginForm">
  <h2 class="text-2xl font-bold mb-6 text-center">Customer Login</h2>

  <input type="email" placeholder="Email" formControlName="email"
    class="w-full px-4 py-3 mb-4 border border-cloud rounded-md placeholder-shadow focus:outline-none focus:ring-2 focus:ring-kabul" />

  <input type="password" placeholder="Password" formControlName="password"
    class="w-full px-4 py-3 mb-6 border border-cloud rounded-md placeholder-shadow focus:outline-none focus:ring-2 focus:ring-kabul" />

  <button (click)="onSubmit()" class="w-full bg-kabul text-cloud py-3 rounded-md font-semibold hover:bg-shadow transition">
    Log In
  </button>

  <div class="mt-4 text-red-600 text-sm" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>
