/* .dotted-loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px dotted #555;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  margin: 40px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */


.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.4); /* semi-transparent for white bg */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.dotted-loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px dotted #555;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
